<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="myget" value="https://www.myget.org/F/zlzforever/api/v3/index.json" protocolVersion="3" />
        <add key="nuget.cdn" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>